<div th:replace="parts/header">...</div>

<div th:replace="parts/containerHeader">...</div>

	
	<div class="col-sm-12">
    	<h2 class="title text-center">All books</h2>
    	<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Name</th>
		      <th scope="col">Author</th>
		      <th scope="col">Pages</th>
		      <th scope="col">Added by</th>
		      <div sec:authorize="hasAuthority('ADMIN')">
		      <th scope="col">Edit</th>
		      <th scope="col">Delete</th>
		      </div>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="book : ${books}">
		      <th scope="row" th:text="${book.id}"></th>
		      <td th:text="${book.name}"></td>
		      <td th:text="${book.author}"></td>
		      <td th:text="${book.pages}"></td>
		      <td th:text="${book.userName}"></td>
		      <div sec:authorize="hasAuthority('ADMIN')">
		      <td><a th:href="@{/books/edit/{id}(id=${book.id})}" type="button" class="btn btn-primary edit-btn btn-sm">Edit</a></td>
		      <td><a th:href="@{/books/delete/{id}(id=${book.id})}" type="button" class="btn btn-danger btn-sm">Delete</a></td>
		      </div>
		    </tr>
		  </tbody>
		</table>
    </div>

<div th:replace="parts/containerFooter">...</div>

<div th:replace="parts/footer">...</div>