<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2>Add new Book</h2>
			</div>
			<form action="/add-book" method="POST">
			  Name:<br>
			  <input type="text" name="name" placeholder="Voina i Mir" ><br>
			  Author:<br>
			  <input type="text" name="author" placeholder="L. Tolstoi"><br>
			  Pages:<br>
			  <input type="text" name="pages" placeholder="534"><br><br>
			  <input type="submit" value="Submit">
			</form>
		</div>
	</div>
    
    
    
</body>
</html>