<div th:replace="parts/header">...</div>



<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="/">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="orderProduct : ${orderProducts}">
							<td class="cart_product">
								<a href=""><img class="cart-img" th:src="'/img/' + ${orderProduct.imageName}" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="/">[[${orderProduct.name}]] , [[${orderProduct.brand}]]</a></h4>
								<p>Web ID: [[${orderProduct.id}]]</p>
							</td>
							<td class="cart_price">
								<p>[[${orderProduct.price}]] $</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">$59</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" th:href="@{/remove-from-cart/{id}(id = ${orderProduct.id})}"><i class="fa fa-times"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>

	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>Check your order</h3>
				<p>Tax is not included in the price of goods.</p>
			</div>
			<div class="row">
			<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li>Cart Sub Total <span>$59</span></li>
							<li>Eco Tax <span>$2</span></li>
							<li>Shipping Cost <span>Free</span></li>
							<li>Total <span>$61</span></li>
						</ul>
							<a class="btn btn-default check_out" href="">Update</a>
					</div>
				</div>
			<div class="col-sm-6">
					<div class="chose_area">
						<ul>
						<h4>Delivery Adress</h4>
							<form th:class="bookform"  method="POST">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						  <div class="form-group">
						    <label for="name">First Name</label>
						    <input type="text" class="form-control"   placeholder="Book Name">
						  </div>
						  <div class="form-group">
						    <label for="name">Last Name</label>
						    <input type="text" class="form-control"   placeholder="Book Name">
						  </div>
						  <div class="form-group">
						    <label for="name">City</label>
						    <input type="text" class="form-control"   placeholder="Book Name">
						  </div>
						  <div class="form-group">
						    <label for="name">Street</label>
						    <input type="text" class="form-control"   placeholder="Book Name">
						  </div>
						  <div class="form-group">
						    <label for="name">Index</label>
						    <input type="text" class="form-control"   placeholder="Book Name">
						  </div>
						  <div class="form-group">
						    <label for="name">Telephone</label>
						    <input type="text" class="form-control"   placeholder="Book Name">
						  </div>
						  <button type="submit" class="btn btn-primary">Check Out</button>
						</form>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</section>

    
<div th:replace="parts/footer">...</div>