<div th:replace="parts/header">...</div>

<div th:replace="parts/containerHeader">...</div>


	<div class="s-wide">
		<div class="row">
			<div class="col-sm-12">
				<h2>Edit book [[${book.name}]]</h2>
			</div>
			<form th:class="editBookform" action="#" th:action="@{/edit-book/{id}(id=${book.id})}" th:object="${book}" method="POST">
			  <div class="form-group">
			    <label for="name">Book Name</label>
			    <input type="text" class="form-control" name="name" id="name" th:attr="placeholder=${book.name}" th:value="${book.name}">
			  </div>
			  <div class="form-group">
			    <label for="author">Book Author</label>
			    <input type="text" class="form-control" name="author" id="author" th:attr="placeholder=${book.author}" th:value="${book.author}">
			  </div>
			  <div class="form-group">
			    <label for="pages">Book Author</label>
			    <input type="number" class="form-control" name="pages" id="pages" th:attr="placeholder=${book.pages}" th:value="${book.pages}">
			  </div>
			  <div class="form-check">
			    <input type="checkbox" class="form-check-input" id="exampleCheck1">
			    <label class="form-check-label" for="exampleCheck1">Check me out</label>
			  </div>
			  <button type="submit" class="btn btn-primary">Save</button>
			</form>
		</div>
	</div>
    
<div th:replace="parts/containerFooter">...</div>
    
<div th:replace="parts/footer">...</div>