<div th:replace="parts/header">...</div>



        <div class="container" style="min-height: 500px">
			<div class="col-sm-12">
				<h2 class="title text-center">Log in</h2>
				<div style="width: 350px;" class="alert" th:classappend="${messageType}"  role="alert">[[${{message}}]]</div>
  
			</div>
        		
		      <div class="col-sm-12">
		      <div th:if="${param.error}" style="width: 350px;" class="alert alert-danger"  role="alert">
		            Invalid username or password.
		        </div>
		        <div sec:authorize="isAnonymous()" th:if="${param.logout}" style="width: 350px;" class="alert alert-success"  role="alert">
		            You have been logged out.
		        </div>
		      <div sec:authorize="isAuthenticated()" style="width: 350px;" class="alert alert-success"  role="alert">You are successfully logged in</div>
		      
		        <form sec:authorize="isAnonymous()" th:class="logform" th:action="@{/login}" method="post">
		        	<div class="form-group">
					    <label for="email">Email</label>
					    <input type="email" class="form-control" name="email">
					  </div>
		        	<div class="form-group">
					    <label for="firstName">Password</label>
					    <input type="password" class="form-control" name="password">
					  </div>
					  <button type="submit" class="btn btn-info">Sign In</button>
					  <a href="/registration" type="submit" class="btn btn-success">Rigistration</a>
		        </form>
        	</div>
        </div>


<div th:replace="parts/footer">...</div>