

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/price-range.js"></script>
<script src="/js/jquery.prettyPhoto.js"></script>
<script src="/js/main.js"></script>

</body>
</html>

<!-- 
<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="/">Home</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/all-books">All books</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/add-book">Add book</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/users">Users</a>
		      </li>
		    </ul>
		    <div class="mr-3" sec:authorize="isAnonymous()">
		    	<a class="btn btn-outline-success my-2 my-sm-0" href="/login">Log In</a>
		    </div>
		    <div class="mr-3" sec:authorize="isAnonymous()">
		    	<a class="btn btn-outline-success my-2 my-sm-0" href="/registration">Register</a>
		    </div>
		    <form sec:authorize="isAuthenticated()" class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
		      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Sign Out</button>
		    </form>
		  </div>
		</nav>
	</header>
 -->