<div th:replace="parts/header">...</div>

<div th:replace="parts/containerHeader">...</div>

<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img th:src="'/img/' + ${product.imageName}" alt="">
								<h3>ZOOM</h3>
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">
								
								  <!-- Wrapper for slides -->
								    <div class="carousel-inner">
										<div class="item">
										  <a href=""><img th:src="@{/images/product-details/similar1.jpg}" alt=""></a>
										  <a href=""><img th:src="@{/images/product-details/similar2.jpg}" alt=""></a>
										  <a href=""><img th:src="@{/images/product-details/similar3.jpg}" alt=""></a>
										</div>
										<div class="item">
										  <a href=""><img th:src="@{/images/product-details/similar1.jpg}" alt=""></a>
										  <a href=""><img th:src="@{/images/product-details/similar2.jpg}" alt=""></a>
										  <a href=""><img th:src="@{/images/product-details/similar3.jpg}" alt=""></a>
										</div>
										<div class="item active">
										  <a href=""><img th:src="@{/images/product-details/similar1.jpg}" alt=""></a>
										  <a href=""><img th:src="@{/images/product-details/similar2.jpg}" alt=""></a>
										  <a href=""><img th:src="@{/images/product-details/similar3.jpg}" alt=""></a>
										</div>
										
									</div>

								  <!-- Controls -->
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img th:src="@{/images/product-details/new.jpg}" class="newarrival" alt="">
								<h2>[[${product.name}]]</h2>
								<p>Web ID: [[${product.id}]]</p>
								<img th:src="@{/images/product-details/rating.png}" alt="">
								<span>
									<span>[[${product.price}]] $</span>
									<label>Quantity:</label>
									<input type="text" value="3">
									<a sec:authorize="isAuthenticated()" th:href="@{/add-to-card/{id}/{userId}(id = ${product.id}, userId = ${authUser.id})}" type="button" class="btn btn-fefault cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									<a sec:authorize="isAnonymous()" href="/login" type="button" class="btn btn-fefault cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</span>
								<p><b>Availability:</b> In Stock</p>
								<p><b>Condition:</b> New</p>
								<p><b>Brand:</b> [[${product.brand}]]</p>
								<a href=""><img th:src="@{/images/product-details/share.png}" class="share img-responsive" alt=""></a>
							</div><!--/product-information-->
						</div>
					</div>
					
	
<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li><a href="#details" data-toggle="tab">Details</a></li>
								<li class="active"><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade" id="details">
								<div class="col-sm-12">
									<div class="product-descripton-section">
										<h4>Product description</h4>
										<p>[[${product.description}]]</p>
									</div>
								</div>
								
								
							</div>
							
							
							
							<div class="tab-pane fade active in" id="reviews">
								<div class="col-sm-12">
									
									<div class="comment" th:each="comment : ${comments}">
										<ul>
										<li><a href=""><i class="fa fa-user"></i>[[${comment.user.getFirstName()}]]</a></li>
										<li><a href=""><i class="fa fa-clock-o"></i>[[${comment.time}]]</a></li>
										<li><a href=""><i class="fa fa-calendar-o"></i>[[${comment.dateFormat()}]]</a></li>
									</ul>
									<p>[[${comment.message}]]</p>
									</div>
									
									<p><b>Write Your Review</b></p>
									
									<form th:action="@{/comment/{id}/add(id = ${product.id})}" th:object="${comment}" method="POST">
										<textarea name="message"></textarea>
										<b>Rating: </b> <img th:src="@{/images/product-details/rating.png}" alt="">
										<button sec:authorize="isAuthenticated()" type="submit" class="btn btn-default pull-right">
											Submit
										</button>
										<a href="/login" sec:authorize="isAnonymous()" type="button" class="btn btn-default pull-right">
											Submit
										</a>
									</form>
								</div>
							</div>
							
						</div>
					</div>
					
			
<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended items</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img th:src="@{/images/home/recommend1.jpg}" alt="">
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img th:src="@{/images/home/recommend2.jpg}" alt="">
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img th:src="@{/images/home/recommend3.jpg}" alt="">
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img th:src="@{/images/home/recommend1.jpg}" alt="">
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img th:src="@{/images/home/recommend2.jpg}" alt="">
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img th:src="@{/images/home/recommend3.jpg}" alt="">
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div>

<div th:replace="parts/containerFooter">...</div>
    
<div th:replace="parts/footer">...</div>